body{
    margin: 0;
    padding: 0;
}

.card{
    display: flex;
    flex-direction: column;
    height: 25em;
}

.card-img{
    align-self: center;
    border-radius: 4px;
    max-width: 15em;
    max-height: 20em;
}

.card-content{
    padding: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-det{
    display: flex;
    align-items: baseline;
    gap: 8px;
    line-height: 0;
    margin-top: 9px;
    font-size: 0.9rem;
}

.card-title{
    margin: 0;
    line-height: 0;
    font-weight: normal;
    
}

.movie-grid{
    display: grid;
    grid-template-columns: 15em 15em 15em 15em;
    padding-left: 10px;
    justify-content: center;
}